

body {
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center;    
    height: 100vh;          
    margin: 0;              
    background-color: black;
    color: aliceblue;
    gap: 20px;              
}


.text {
    display: flex;             
    font-size: 1.2em;
    flex-grow: 1;
    border-color: red;
    justify-content: center;   
    align-items: center;   
}

.main-body {
    display: flex;
    flex-direction: column;  
    justify-content: center; 
    align-items: center;   
    gap: 15px;             
    width: 100%;            
    max-width: 500px;       
}


.explanation-text {
    display: flex;
}

.calculation-container {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    border-color: blue;
    justify-content: center;
    align-items: center;
    color: aliceblue;
}

.total-text {
    display: flex;
    padding-left: 25px;
}

.total {
    display: flex;
    padding-left: 5px;
}